<!--Fix this shit-->
<!--All right-->
<main>
    <section class="chatbox">
        <section class="chat-msg">
            <ul class="chat-temp-container">
                <cht-message-box *ngFor="let item of messages" [msg]="item.msg" [user]="item.user" [positionMsg]="item.typeMsg" />
                <!-- <cht-message-box [msg]="'aja my men'" [positionMsg]="'right'" />
                <cht-message-box [msg]="'aja my men'" [positionMsg]="'center'" /> -->
            </ul>
        </section>

        <section class="chat-input">
            <input type="text" class=" form-control " [(ngModel)]="inputStr" (keyup.enter)="sendMsg()">
            <button class="send-btn" (click)="sendMsg()">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </section>

    </section>
</main>