<!--Fix this shit-->
<!--All right-->
<main>
    <section class="chatbox">
        <section class="chat-msg">
            <ul class="chat-temp-container">
                <cht-message-box 
                    *ngFor="let msg of messages"
                    [msg]="msg"/>
            </ul>
        </section>

        <section class="chat-input">
            <input type="text" class=" form-control " [(ngModel)]="inputStr" (keyup.enter)="sendMsg()">
            <button class="send-btn" (click)="sendMsg()">
                <span class="material-symbols-outlined">
                    send
                </span>
            </button>
        </section>

    </section>
</main>