.msg-box {
    border: green;
    background-color: #badfba;
    color: #004d00;
    width: fit-content;

}
.msg-box p {
    margin: 0px;
}

.user-title {
    margin: 0px;
    margin-left: 6px;
    font-size: 14px;
    color: #005100;
}


.main-object-left {
    display: flex;
    justify-content: left;
}

.main-object-left .msg-box{
    padding: 9px 23px 11px 13px;
    border-radius: 0px 25px 25px 13px;
}


.main-object-center {
    display: flex;
    justify-content: center;
}
.main-object-center .msg-box{
    background-color: transparent;

}

.main-object-right {
    display: flex;
    justify-content: right;
}

.main-object-right .msg-box{
    padding:11px 13px 9px 23px;
    border-radius: 25px 0px 13px 25px;
}

.msg-container {
    width: fit-content;
}



