<main>
    <section class="login-box">
        <h3 class="header-log">MyChat </h3>
        <section class="input-container">
            <section class="input-container mb-2">
                <input type="text" class="form-control" placeholder="Username" [(ngModel)]="formData.username" >
                <input type="text" class="form-control" placeholder="Chat Id" [(ngModel)]="formData.chatRoom" >
            </section>
            <button class="btn btn-success"  (click)="enterChat()">Entrar</button>
        </section>
    </section>
</main>